@model Product

<div class="card h-100">
    <a asp-controller="Home" asp-action="Product" asp-route-id="@Model.Id">
        <img src="@(Model.Images.FirstOrDefault()?.Src ?? "https://via.placeholder.com/400x300.png?text=Regie+Shop")" class="card-img-top" alt="@Model.Name">
    </a>
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">
            <a asp-controller="Home" asp-action="Product" asp-route-id="@Model.Id" class="text-decoration-none">@Model.Name</a>
        </h5>
        <p class="card-text">@Model.Price.ToString("C0")</p>
        <div class="mt-auto input-group">
            <input type="number" class="form-control product-quantity" value="1" min="1" max="@Model.Quantity" aria-label="Product quantity">
            <button class="btn btn-primary add-to-cart" data-product-id="@Model.Id" data-product-name="@Model.Name" type="button">
                <i class="bi bi-cart-plus"></i>
            </button>
        </div>
    </div>
</div>